* {
  box-sizing: border-box;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.registerBox {
  display: flex;
  flex-direction: column;
}
