* {
  box-sizing: border-box;
}

.loginPage {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loginBox {
  display: flex;
  flex-direction: column;
}
