.main {
  padding: 20px;
}

.duration {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 4px;
  color: white;
  background-color: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 10px;
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 500;
  line-height: 12px;
}

.thumbnail {
  width: 100%;
  margin-top: 10px;
  border: 2px solid white;
}
